@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>
        The Joel Hilton Film Collection
    </h1>
    <img src="~/img/1.jpg" />
    <br />
    <br />
    <h4>
        Welcome to the greatest film collection in the world! The Joel Hilton Film collection will help you find your next favorite movie, be it a comedy, drama, action, or thiller. All you need to do is look through our top of the line database and find the movie that you, your spouse, and even your dog will love.
    </h4>
</div>
