@{
    ViewData["Title"] = "Podcast";
}

<div class="text-center">
    <h1>
        @ViewBag.Title
    </h1>
    <img src="https://baconsale.files.wordpress.com/2018/11/baconsale3.png?w=444"/>
    <br /><br />
    <p> Visit our awesome podcast and get our best and worst movies, and much more</p>
    <br />
    <a class="btn btn-dark" href="https://baconsale.com/"> Listen today! </a>
</div>

